.niemcy{
    &--black{
        background-color: black;
        width: 210px;
        height: 46px;}
    &--red{
        background-color: red;
        width: 210px;
        height: 46px;}
    &--yellow{
        background-color: yellow;
        width: 210px;
        height: 46px;}
}