$color1: #f0f0f0; // Tło dla listy postaci (jasnoszare)
$color2: #ffffff; // Tło dla kart postaci (białe)
$color3: #333333; // Kolor tekstu (ciemnoszary)
$color4: #ff6347; // Kolor statusu postaci (czerwony)
$color5: #4682b4; // Kolor typu/rodzaju (niebieski)

$font-size-1: 0.6em;
$font-size-2: 0.8em;
$font-size-3: 1em;
$font-size-4: 1.2em;
$font-size-5: 1.4em;
