.belgia{
    display: flex;
<<<<<<< HEAD
    &--red{
        background-color: red;
        width: 70px;
        height: 150px;
    }
=======
>>>>>>> f0ffa9c492c899b341357a3255bf21c8d3089309
    &--yellow{
        background-color: yellow;
        width: 70px;
        height: 150px;
    }
    &--black{
        background-color: black;
        width: 70px;
        height: 150px;
    }
<<<<<<< HEAD
}
=======
    &--red{
        background-color: red;
        width: 70px;
        height: 150px;}
    }
>>>>>>> f0ffa9c492c899b341357a3255bf21c8d3089309
