.polska{
<<<<<<< HEAD
    &--white{
        background-color: white;
        width: 210px;
        height: 70px;}
    &--red{
        background-color: red;
        width: 210px;
        height: 70px;}
}
=======
    &--red{
        background-color: red;
        width: 160px;
        height: 70px;}
    &--white{
        background-color: rgba(255, 243, 218, 0.941);
        width: 160px;
        height: 70px;
    }
}
>>>>>>> f0ffa9c492c899b341357a3255bf21c8d3089309
