.rosja{
    &--white{
        background-color: white;
        width: 210px;
        height: 46px;}
    &--blue{
        background-color: blue;
        width: 210px;
        height: 46px;}
    &--red{
        background-color: red;
        width: 210px;
        height: 46px;}
}
