.smallRectangle{
    width: 150px;
    height: 50px;
    background-color: lime;
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-left: 700px;
    margin: 5% auto;
    margin-top: -10%;
    
}